@import url('root.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    background: var(--gmc-color-gradient);
    color: white;
    font-size: 14px;
    padding: 7px 0;
}
.container {
    width: 100%;
    max-width: 95%;
}
.card:hover {
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


/* Navbar capsule hover effect */
.navbar-nav .nav-link {
    position: relative;
    padding: 8px 16px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

/* Hover effect */
.navbar-nav .nav-link:hover {
    background-color: var(--gmc-color);
    color: #fff;
}

/* Active state (current page) */
.navbar-nav .nav-link.active {
    background-color: #fff;
    color: #000;
}

.btn-gmc {
    color: #fff;
    background-color: var(--gmc-color);
}

.btn-gmc:hover {
    color: #fff;
    background-color: var(--gmc-darker-color);
}

/* .container-box {
    padding: 45px;
    max-width: 100%;
    background-color: #fff;
} */